body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.errMessageText {
  color: red
}
